In [1]:
import os
import numpy as np
import pandas as pd
from pandas import read_excel

In [2]:
# os.chdir(".")
path = "files/"
print(path)

files/

In [8]:
daysDf = read_excel(path + "day.xls", sheet_name='pavlovo', header=1, dtype={'03': np.float64, 'PM10': np.float64})
daysDf

         Date         O3        PM10
0  01.01.2012  44.794662   34.649986
1  02.01.2012  13.098713  144.050705
2  03.01.2012   9.629462  290.839111

In [9]:
hoursDf = read_excel(path + "hour.xls", sheet_name='pavlovo', header=1, usecols=['Date', 'NO', 'NO2', 'AirTemp', 'Press', 'UMR', 'WD', 'WS'])
hoursDf

          Date      NO     NO2  AirTemp  Press   UMR      WD    WS
0   01.01.2012   -1.39   13.92     -1.4  941.1  73.7  281.29  2.00
1   01.01.2012   -1.35   11.51     -1.4  941.4  72.9  282.62  1.69
2   01.01.2012   -1.24   11.46     -1.5  942.0  72.3  275.63  1.86
3   01.01.2012   -0.96    9.69     -1.6  942.5  73.0  278.97  2.08
4   01.01.2012   -0.77   10.80     -1.6  942.6  72.1  274.92  1.87
..         ...     ...     ...      ...    ...   ...     ...   ...
67  03.01.2012  655.61  233.33      0.1  949.2  80.0  206.05  0.52
68  03.01.2012  553.24  183.67     -0.8  949.5  84.4  240.89  0.72
69  03.01.2012  354.38  150.86     -0.9  949.4  85.6  214.22  1.15
70  03.01.2012  297.02  136.31     -1.1  949.5  84.2  188.69  0.68
71  03.01.2012  277.17  110.27     -1.9  949.4  86.8  225.86  0.78

[72 rows x 8 columns]